[submodule "nes-py"]
	path = nes-py
	url = git@github.com:Kautenja/nes-py
	branch = ralph-dev
[submodule "gym-super-mario-bros"]
	path = gym-super-mario-bros
	url = git@github.com:Kautenja/gym-super-mario-bros.git
	branch = ralph-dev
[submodule "gym-tetris"]
	path = gym-tetris
	url = git@github.com:Kautenja/gym-tetris.git
	branch = ralph-dev
[submodule "gym-zelda-1"]
	path = gym-zelda-1
	url = git@github.com:Kautenja/gym-zelda-1.git
	branch = ralph-dev
[submodule "playing-mario-with-deep-reinforcement-learning"]
	path = playing-mario-with-deep-reinforcement-learning
	url = git@github.com:Kautenja/playing-mario-with-deep-reinforcement-learning.git
	branch = master
[submodule "playing-tetris-with-deep-learning"]
	path = playing-tetris-with-deep-learning
	url = git@github.com:Kautenja/playing-tetris-with-deep-learning.git
	branch = master
